{% extends 'core/base.html' %}


{% block title %}
    Orders
{% endblock title %}



{% block content %}
    <div class="container my-5">
        <div class="row">
            <h3> Welcome <span class="text-capitalize"> {{ request.user }} </span></h3>
        
        <div class="col-lg-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile_update' %}" class="btn">
                <i class="fas fa-user-alt me-2"></i>Profile</a>
                </li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn"><i class="fas fa-address-card me-2"></i>Address</a></li>
                <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary"><i class="fas fa-dolly-flatbed me-2"></i>Orders</a></li>
                <li class="d-grid"><a href="{% url 'admin_reply' %}" class="btn">
                <i class="fas fa-envelope me-2"></i>Inbox</a>
                </li>
            </ul>
        </div>
            <div class="col-lg-8 offset-lg-2">
                <h1><center> Orders </center></h1>
                <hr>

                <div class="row">
                
                    <div class="col-md-6 col-lg-5 border-end">
                        <ul class="list-unstyled">
                            
                            {% for order in orders %}      
                                <li class="d-grid">
                                    <a href="{% url 'order_item' order.id %}" class="btn">
                                        <ul class='list-unstyled'>
                                            <li><h6>Ref Code : {{ order.ref_code }}</h6>
                                            </li>
                                            <li>Created : {{ order.created }}</li>
                                            <li>Refund Requested : {{ order.refund_requested }}</li>
                                            <li>Refund Granted : {{ order.refund_granted }}
                                            </li>
                                            <li><strong>Ordered : {{ order.ordered }}
                                            </strong></li>
                                            
                                            {% if order.coupon %}
                                                <li> {{ order.coupon }} - {{ order.coupon.coupon_percentage }}%</li>
                                                <li><strong>Cost : GHS{{ order.get_final_cost }}</strong>
                                                </li>
                                            {% endif %}
                                                
                                            <li><strong>TOTAL : GHS {{ order.get_total_amount }}</strong>
                                            </li>
                                        </ul>
                                        
                                            
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        
                                
                    </div>
                    
                    <div class="col-md-6 col-lg-7">
                        <div class="row">
                        
                        {% if order_items %}
                            <h5><center>Ref Code : {{ curr_order.ref_code }}</center></h5>
                        {% endif %}
                        {%if curr_order.ordered and curr_order.refund_requested == False%}
                            <a href="{% url 'request_refund' curr_order.id %}" class="btn btn-sm btn-info">Request Refund</a>
                        {% endif %}
                            
                        
                            {% for order_item in order_items %}
                                <div class="col-lg-6 col-md-6 text-center">
                                    <p> {{ order_item.item.name }} </p>
                                    <p>Price : GHS {{ order_item.item.price }} </p>
                                    <p>Category :  {{ order_item.item.get_category_display }} </p>
                                    <p>Tag : {{ order_item.item.get_tag_display }} </p>
                                    <p> {{ order_item.item.description | truncatechars:20 }} </p>
                                <hr>
                                </div>
                            {% endfor %}
                                
                        </div>
                    </div>
                
                </div>
                    
                
            </div>
        </div>
    </div>
{% endblock content %}
