{% extends 'core/base.html' %}


{% block title %}
    About Page
{% endblock title %}
    

{% block content %}
    <h1><center> About the Company </center></h1>
    <div>
    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam eius quibusdam numquam ipsum. Amet expedita recusandae reprehenderit sint doloremque mollitia alias minima, dolorem dolor aliquid! Placeat enim officiis fugit?
        Dolorem minus quas recusandae eum dolore voluptatem enim ipsa debitis quibusdam, ullam doloremque amet quod magni illo quo nam. Corporis non nemo voluptates delectus quae, autem nisi sunt itaque unde.
        Laudantium delectus unde aliquam eveniet? In, autem nisi. Quasi quaerat expedita ad nihil, labore distinctio? Quisquam dolor consectetur rerum, nulla dolorem tenetur, officia debitis voluptatem beatae fugiat reprehenderit, quibusdam alias.
        Eveniet expedita, possimus illum vitae sapiente quos nulla necessitatibus odio modi? Ipsam, provident pariatur! Tenetur est possimus voluptate tempore in provident quibusdam saepe quia temporibus, cupiditate neque enim corrupti hic.
        Voluptates sed dolorum adipisci quibusdam sint ipsum nulla, libero eum, doloribus beatae error quas maxime accusamus veniam, obcaecati reprehenderit velit voluptatem expedita saepe fugit voluptate non quos at magni. Totam!
        Aspernatur aliquam odit quaerat tenetur nemo. Perspiciatis, aut at minima perferendis veniam labore ipsam quibusdam vel obcaecati dolor impedit pariatur consequuntur magni facilis. Provident facilis esse odit nisi. Voluptate, cum!
    </div>
    
{% endblock content %}
    